{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "Weather": {
    "ApiKey": "122c2839a0795a460462bb0358712d3c"
  }
}
